body{
    background-color: #f6f4f0;
}



.colorDetail{
    background-color: #f6f4f0;
    padding: 10px;

}

div{
    padding: 10px;
}
.socials{
    padding-right: 10px;
}

.profession{
    color: grey;
}