.page{
    padding: 10;
}


.colorDetail{
    background-color: lightskyblue;
    padding: 10px;

}
.picHolder{
    background-color: lightgreen;
}

div{
    padding: 10px;
}
.socials{
    padding-right: 10px;
}