.page{
    padding: 10;
}

.center{
   text-align: center;
   
}
.colorDetail{
    background-color: lightskyblue;
    padding: 10px;
}
.picHolder{
    background-color: lightgreen;
}

div{
    padding: 10pc;
}